[submodule "p10k"]
  path = .config/zsh/custom/themes/powerlevel10k
  url = git@github.com:romkatv/powerlevel10k.git
[submodule "gradle-completion"]
  path = .config/zsh/custom/plugins/gradle-completion
  url = git@github.com:gradle/gradle-completion.git
[submodule "autoswitch_virtualenv"]
  path = .config/zsh/custom/plugins/autoswitch_virtualenv
  url = git@github.com:MichaelAquilina/zsh-autoswitch-virtualenv.git
