[user]
	name = Dj Isaac
	email = contact@dejaydev.com
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	editor = code --wait
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[safe]
	directory = /opt/flutter
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
